@import url('/css/1140.css');
@import url('/font_cantarell/stylesheet.css');

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	background-color: #888;
	font-family: 'CantarellRegular';
}

em {
	font-family: 'CantarellOblique';
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
/*	font-family: Freeserif, serif; */
	font-size: 100%;
	letter-spacing: 0;
}

h1 {
	color: #444;
	font-size: 3em;
	text-shadow: #999 1px 1px 0px;
	margin-bottom: 10px;
}

h1:hover {
	color: #333;
	cursor: pointer;
}

h2, h3 {
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	margin-top: 0.5em;
	font-size: 1.1em;
}

p {
	margin: 1em 0;
}

a {
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
/*	color: #55A; */
}

a:hover {
	color: black;
}

td {
	padding: 0 10px 5px 0;
}

hr {
        color: transparent;
	background-color: transparent;
	border: none;
	border-top: 1px dashed #AAA;
	margin: 1em 0 1em 0;
	width: 100%;
}

textarea {
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	resize: vertical;
	box-shadow: inset 1px 1px 3px #333;
	/* From: http://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present/4156343#4156343 
	 * */
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

input[type="text"] {
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 5px;
	box-shadow: inset 1px 1px 3px #333;
}

button {
	display: block;
	text-align: center;
	margin: 1em auto 1em auto;
	border: none;
	background: #555;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 2px #666;
}

button:hover {
	background: #666;
}

.range_text {
	line-height: 60px;
}

#range td {
	padding: 0px;
	margin: 0px;
}

#range input[type="text"] {
	width: 3em;
}

.border_box {
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#heading {
	padding: 1em;
}

#heading a {
	display: block;
	line-height: 2em;
}

#draw_area {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
}

#draw_options_area {
	text-align: center;
}

#draw_options_content {
	display: none;	
	background: #AAA;
	padding: 30px;
	padding-top: 20px;
	margin: 0.5em 0 1em 0;
	border-radius: 5px;
	box-shadow: 0 3px 3px #555;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#add_function, #redraw_button {
	text-align: center;
	margin-top: 5px;
	margin-bottom: -5px;
}

.content_area {
	line-height: 1.5em;
	margin-top: 6em;
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media only screen and (max-width: 1023px) {

	h1 {
		position: relative;
/*		text-align: center; */
	}

}



@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

	#heading {
		text-align: center;
	}
	
	#heading a {
		display: inline;
	}

	#draw_area {
		margin-top: 0.5em;
	}

	.content_area {
		margin-top: 1em;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
